<template>
  <div class="app-container">
    <div class="filter-container" style="display: flex; align-items: flex-start;">
      <el-input v-model.trim="listQuery.docNum" placeholder="№" style="width: 120px;" class="filter-item" clearable @input="handleFilter" />
      <el-input v-model.trim="listQuery.uid" placeholder="Уникалка" style="width: 120px; margin-left: 10px;" class="filter-item" clearable @input="handleFilter" />
      <el-input v-model.trim="listQuery.tin" placeholder="ИНН" style="width: 120px; margin-left: 10px;" class="filter-item" clearable @input="handleFilter" />
      <el-input v-model.trim="listQuery.title" placeholder="Клиент" style="width: 120px; margin-left: 10px;" class="filter-item" clearable @input="handleFilter" />
      <el-date-picker v-model.trim="listQuery.date" type="datetime" placeholder="Выберите дату" style="margin-left: 10px;" />
      <!--      <el-select v-model="listQuery.type" placeholder="Тип" clearable class="filter-item" style="width: 150px; margin-left: 10px;" @change="handleFilter">-->
      <!--        <el-option v-for="item in calendarTypeOptions" :key="item.key" :label="item.display_name+'('+item.key+')'" :value="item.key" />-->
      <!--      </el-select>-->
      <el-button v-waves :loading="downloadLoading" class="filter-item" type="primary" style="margin-left: 10px;" icon="el-icon-download" @click="handleDownloadXlsx">Xlsx</el-button>
      <el-button class="filter-item" type="primary" icon="el-icon-plus" style="margin-left: 10px;" @click="handleCreate">Create</el-button>
    </div>

    <el-table
      ref="multipleTable"
      :key="tableKey"
      v-loading="listLoading"
      :data="list"
      border
      fit
      stripe
      highlight-current-row
      style="width: 100%;"
      @sort-change="sortChange"
      @selection-change="handleSelectionChange"
    >
      <el-table-column type="selection" align="center" />
      <el-table-column label="Id" prop="id" sortable="custom" align="center" width="65" :class-name="getSortClass('id')">
        <template slot-scope="{row}">
          <span>{{ row.id }}</span>
        </template>
      </el-table-column>
      <el-table-column label="№" width="45px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.docNum }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Уникалка" width="130px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.uid }}</span>
        </template>
      </el-table-column>
      <el-table-column label="ИНН" width="90px" align="center">
        <template slot-scope="{row}">
          <span>{{ row.tin }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Клиент" min-width="350px">
        <template slot-scope="{row}">
          <span>{{ row.title }}</span>
          <!--          &nbsp;<el-tag>{{ row.type | typeFilter }}</el-tag>-->
        </template>
      </el-table-column>
      <el-table-column label="Тип" align="center" width="220" class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-cascader :options="options" :props="props" clearable size="mini" />
        </template>
      </el-table-column>
      <!--      <el-table-column label="Readings" align="center" width="95">-->
      <!--        <template slot-scope="{row}">-->
      <!--          <span v-if="row.pageviews" class="link-type" @click="handleFetchPv(row.pageviews)">{{ row.pageviews }}</span>-->
      <!--          <span v-else>0</span>-->
      <!--        </template>-->
      <!--      </el-table-column>-->
      <el-table-column label="Процесс" class-name="status-col" width="100">
        <template slot-scope="{row}">
          <el-progress :text-inside="true" :stroke-width="18" :percentage="80" status="success" />
        </template>
      </el-table-column>
      <el-table-column label="Статус" class-name="status-col" width="90">
        <template slot-scope="{row}">
          <el-tag :type="row.status | statusFilter">
            {{ row.status }}
          </el-tag>
        </template>
      </el-table-column>
      <el-table-column label="Действия" align="center" width="200" class-name="small-padding fixed-width">
        <template slot-scope="{row,$index}">
          <el-button v-if="row.status!='published'" size="mini" type="success" style="margin-left: 1px;" @click="handleModifyStatus(row,'published')">
            Publish
          </el-button>
          <el-button v-if="row.status!='draft'" size="mini" style="margin-left: 1px;" @click="handleModifyStatus(row,'draft')">
            Draft
          </el-button>
          <el-button type="primary" size="mini" style="margin-left: 1px;" @click="handleUpdate(row)">
            Edit
          </el-button>
          <el-button v-if="row.status!='deleted'" size="mini" type="danger" style="margin-left: 1px;" @click="handleDelete(row,$index)">
            Delete
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left">
        <el-form-item label="Клиент" prop="title">
          <el-input v-model="temp.title" />
        </el-form-item>
        <el-form-item label="Тип" prop="type">
          <el-select v-model="temp.type" class="filter-item" placeholder="Please select">
            <el-option v-for="item in calendarTypeOptions" :key="item.key" :label="item.display_name" :value="item.key" />
          </el-select>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">
          Отмена
        </el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">
          Подтверждать
        </el-button>
      </div>
    </el-dialog>
    <el-dialog :visible.sync="dialogPvVisible" title="Reading statistics">
      <el-table :data="pvData" border fit highlight-current-row style="width: 100%">
        <el-table-column prop="key" label="Client" />
        <el-table-column prop="pv" label="Pv" />
      </el-table>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="dialogPvVisible = false">Confirm</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { fetchList, fetchPv, createArticle, updateArticle } from '@/api/article'
import waves from '@/directive/waves' // waves directive
import Pagination from '@/components/Pagination' // secondary package based on el-pagination

import { mapFields } from 'vuex-map-fields'

// import FilenameOption from '../../views/excel/components/FilenameOption'
// import AutoWidthOption from '../../views/excel/components/AutoWidthOption'

const calendarTypeOptions = [
  { key: 'CN', display_name: 'Картотека' },
  { key: 'US', display_name: 'Остаток' },
  { key: 'JP', display_name: 'Оборот' },
  { key: 'EU', display_name: 'Кредит' }
]

// arr to obj, such as { CN : "China", US : "USA" }
const calendarTypeKeyValue = calendarTypeOptions.reduce((acc, cur) => {
  acc[cur.key] = cur.display_name
  return acc
}, {})

export default {
  name: 'ComplexTable',
  components: { Pagination },
  directives: { waves },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'info',
        deleted: 'danger'
      }
      return statusMap[status]
    },
    typeFilter(type) {
      return calendarTypeKeyValue[type]
    }
  },
  data() {
    return {
      props: { multiple: true },
      progress: 0,
      pdfDownloaded: false,
      options: [
        {
          value: 14,
          label: 'Остаток',
          children: [{
            value: 15,
            label: '000',
            children: [
              { value: 16, label: '3 000 000 000 сум' }
            ]
          }, {
            value: 19,
            label: '840',
            children: [
              { value: 20, label: '4 000 000 000 доллар' }
            ]
          }, {
            value: 30,
            label: '978',
            children: [
              { value: 20, label: '7 000 000 000 евро' }
            ]
          }]
        }
      ],
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      multipleSelection: [],
      filename: 'ofb',
      autoWidth: true,
      bookType: 'xlsx',
      listQuery: {
        page: 1,
        limit: 10,
        uid: undefined,
        title: undefined,
        tin: undefined,
        docNum: undefined,
        date: undefined,
        importance: undefined,
        type: undefined,
        sort: '+id'
      },
      importanceOptions: [1, 2, 3],
      calendarTypeOptions,
      sortOptions: [{ label: 'по возрастанию', key: '+id' }, { label: 'по убыванию', key: '-id' }],
      statusOptions: ['published', 'draft', 'deleted'],
      showReviewer: false,
      temp: {
        id: undefined,
        importance: 1,
        timestamp: null,
        // timestamp: new Date(),
        uid: '',
        title: '',
        tin: '',
        docNum: '',
        date: '',
        type: '',
        status: 'published'
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      dialogPvVisible: false,
      pvData: [],
      rules: {
        type: [{ required: true, message: 'type is required', trigger: 'change' }],
        timestamp: [{ type: 'date', required: true, message: 'timestamp is required', trigger: 'change' }],
        uid: [{ required: true, message: 'uid is required', trigger: 'blur' }],
        title: [{ required: true, message: 'title is required', trigger: 'blur' }],
        date: [{ required: true, message: 'date is required', trigger: 'blur' }],
        docNum: [{ required: true, message: 'docNum is required', trigger: 'blur' }],
        tin: [{ required: true, message: 'tin is required', trigger: 'blur' }]
      },
      downloadLoading: false
    }
  },
  created() {
    this.getList()
  },
  computed: {
    ...mapFields(['controlValue']),

    htmlToPdfOptions() {
      return {
        margin: 0,

        filename: 'ofb.pdf',

        image: {
          type: 'jpeg',
          quality: 1
        },

        enableLinks: true,

        html2canvas: {
          scale: this.controlValue.pdfQuality,
          useCORS: true
        },

        jsPDF: {
          unit: 'in',
          format: this.controlValue.pdfFormat,
          orientation: this.controlValue.pdfOrientation
        }
      }
    }
  },
  methods: {
    getList() {
      this.listLoading = true
      fetchList(this.listQuery).then(response => {
        if (response.data.items) {
          response.data.items.map((item, idx) => {
            item.uid = 1234567890120 + idx
            item.tin = 1234560 + idx
            item.docNum = 120 + idx
            return item
          })
          this.list = response.data.items
        }
        this.total = 5
        // this.total = response.data.total
        // this.list = response.data.items

        // Just to simulate the time of the request
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },
    handleModifyStatus(row, status) {
      this.$message({
        message: 'Success',
        type: 'success'
      })
      row.status = status
    },
    sortChange(data) {
      const { prop, order } = data
      if (prop === 'id') {
        this.sortByID(order)
      }
    },
    sortByID(order) {
      if (order === 'ascending') {
        this.listQuery.sort = '+id'
      } else {
        this.listQuery.sort = '-id'
      }
      this.handleFilter()
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        importance: 1,
        timestamp: new Date(),
        uid: '',
        title: '',
        tin: '',
        docNum: '',
        date: '',
        status: 'published',
        type: ''
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          this.temp.id = parseInt(Math.random() * 100) + 1024 // mock a id
          this.temp.author = 'Malika'
          createArticle(this.temp).then(() => {
            this.list.unshift(this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Created Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.temp.timestamp = new Date(this.temp.timestamp)
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          tempData.timestamp = +new Date(tempData.timestamp) // change Thu Nov 30 2017 16:41:05 GMT+0800 (CST) to 1512031311464
          updateArticle(tempData).then(() => {
            const index = this.list.findIndex(v => v.id === this.temp.id)
            this.list.splice(index, 1, this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Success',
              message: 'Update Successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleDelete(row, index) {
      this.$notify({
        title: 'Success',
        message: 'Delete Successfully',
        type: 'success',
        duration: 2000
      })
      this.list.splice(index, 1)
    },
    handleFetchPv(pv) {
      fetchPv(pv).then(response => {
        this.pvData = response.data.pvData
        this.dialogPvVisible = true
      })
    },
    handleSelectionChange(val) {
      this.multipleSelection = val
    },
    handleDownloadXlsx() {
      if (this.multipleSelection.length) {
        this.downloadLoading = true
        import('@/vendor/Export2Excel').then(excel => {
          const tHeader = ['Уникалка', 'ИНН', '№', 'Клиент', 'Дата', 'Тип', 'Статус']
          const filterVal = ['uid', 'tin', 'docNum', 'title', 'date', 'type', 'status']
          const list = this.multipleSelection
          const data = this.formatJson(filterVal, list)
          excel.export_json_to_excel({
            header: tHeader,
            data,
            filename: this.filename,
            bookType: this.bookType
          })
          this.$refs.multipleTable.clearSelection()
          this.downloadLoading = false
        })
      } else {
        this.$message({
          message: 'Please select at least one item',
          type: 'warning'
        })
      }
    },
    formatJson(filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]))
    },
    getSortClass: function(key) {
      const sort = this.listQuery.sort
      return sort === `+${key}` ? 'ascending' : 'descending'
    }
  }
}
</script>
