<template>
  <el-form ref="form" class="form">
    <el-form-item>
      <el-row>
        <el-col :span="24">
          <img :src="image" alt="ofb" class="img">
        </el-col>
      </el-row>
      <el-row class="address" :gutter="10">
        <el-col :span="18">
          <div>
            <span>XATB «Orient Finans» Amaliyot boshqarmasi</span><br>
            <span>PJSCB «Orient Finans» Operational branch</span><br>
            <span>ЧАКБ «Ориент Финанс» Операционное управление</span><br>
          </div>
          <div class="address__doc">
            <span><b>№ 271-11</b></span><br>
            <span><b>«17» январь 2024 г</b></span>
          </div>
        </el-col>
        <el-col :span="6" class="address__info">
          <i class="el-icon-s-data" /><span style="color: blue;">www.ofb.uz</span><br>
          <i class="el-icon-printer" /><span style="color: blue;">info@ofb.uz</span><br>
          <i class="el-icon-printer" /><span>@ofb_bot</span><br>
          <i class="el-icon-printer" /><span>orient.finans.bank</span><br>
          <i class="el-icon-printer" /><span>(+99871) 205-55-55</span><br>
          <i class="el-icon-printer" /><span>(+99871) 200-55-53</span>
        </el-col>
      </el-row>
      <el-row class="company">
        <b class="company__text">Директору</b>
        <b class="company__text">ООО "LC UNITED FOOD"</b>
      </el-row>
      <el-row class="moral">
        <b>В ответ на Ваше письмо №2 от 17.01.2024г</b><br>
        <span>
          ОПЕРУ при ЧАКБ «Ориент Финанс» (код Банка 01071) сообщает, что для
          формирования уставного фонда с 24.11.2023г до 17.01.2024г <b>ООО "LC UNITED
            FOOD"</b> были внесены денежные средства в размере 20 000 000,00 сум путем
          зачисления на расчетный счет 20208000005720704001 следующих денежных средств:
        </span>
      </el-row>
      <el-row>
        <b class="currency">(Сум)</b>
        <el-table
          :data="tableData"
          border
          style="width: 100%;"
        >
          <el-table-column
            prop="date"
            label="Дата"
            width="180"
          />
          <el-table-column
            prop="name"
            label="Сумма"
            width="180"
          />
          <el-table-column
            prop="address"
            label="Детали"
          />
        </el-table>
      </el-row>
      <el-row class="sincerely">С уважением,</el-row>
      <el-row class="dep">
        <b class="deputy">Заместитель начальника <br>ОПЕРУ</b>
        <span>
          <img src="https://ofb.uz/upload/QR-Code.png" width="80px" alt="qr">
        </span>
        <b>Каххорбеков К.У.</b>
      </el-row>
      <el-row class="executor">
        <span>Исполнитель: Исмаилова Н.Г.</span><br>
        <span>https://edo.ofb.uz/hujjat/doc.jsp?id=a119f340-2872-481c-a382-c242ed3904fc&pin=tZmyyVI6</span>
      </el-row>
    </el-form-item>
  </el-form>
</template>

<script>
import myImage from '@/assets/logo.png'

export default {
  data() {
    return {
      image: myImage,
      tableData: [
        {
          date: '24.11.2023',
          name: '1 000 000,00',
          address: 'Пополнение уставного фонда от учрд. KARIMOV'
        },
        {
          date: '24.11.2023',
          name: '1 000 000,00',
          address: 'Пополнение уставного фонда от учрд. KARIMOV'
        },
        {
          date: '24.11.2023',
          name: '1 000 000,00',
          address: 'Пополнение уставного фонда от учрд. KARIMOV'
        },
        {
          date: '24.11.2023',
          name: '1 000 000,00',
          address: 'Пополнение уставного фонда от учрд. KARIMOV'
        }
      ]
    }
  },
  mounted() {
    this.$nextTick(() => {
      setTimeout(() => {
        this.$emit('domRendered')
      }, 1000)
    })
  }
}
</script>

<style lang="scss">
.form {
  padding: 40px 80px;
  font-family: 'Time New Roman';
}

.img {
  width: 400px;
  height: 45px;
}

.address {
  line-height: 21px;
  font-size: 13px;
  color: #7e6c6c;

  &__doc {
    color: #000;
  }
  &__info span {
    margin-left: 20px;
  }
}

.company {
  line-height: 21px;
  padding: 20px 0;
  &__text {
    display: flex;
    justify-content: flex-end;
  }
}

.moral {
  line-height: 21px;
   b, span {
     margin-left: 50px;
   }
}

.currency {
  display: flex;
  justify-content: flex-end;
  line-height: 21px;
  font-size: 12px;
}

.sincerely {
  line-height: 18px;
  margin: 10px;
}

.dep {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.deputy {
  text-align: center;
  line-height: 21px;
}

.executor {
  line-height: 21px;
}

</style>

