<template>
  <div style="display:inline-block;">
    <el-input v-model="filename" placeholder="File name" style="width:345px;" prefix-icon="el-icon-document" clearable />
  </div>
</template>

<script>
export default {
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  computed: {
    filename: {
      get() {
        return this.value
      },
      set(val) {
        this.$emit('input', val)
      }
    }
  }
}
</script>
