<template>
  <div>
    <controls-container @generateReport="downloadPdf()" />

    <vue-html2pdf
      ref="html2Pdf"
      :show-layout="controlValue.showLayout"
      :float-layout="controlValue.floatLayout"
      :enable-download="controlValue.enableDownload"
      :preview-modal="controlValue.previewModal"
      :filename="controlValue.filename"
      :paginate-elements-by-height="controlValue.paginateElementsByHeight"
      :pdf-quality="controlValue.pdfQuality"
      :pdf-format="controlValue.pdfFormat"
      :pdf-orientation="controlValue.pdfOrientation"
      :pdf-content-width="controlValue.pdfContentWidth"
      :manual-pagination="controlValue.manualPagination"
      @startPagination="startPagination()"
      @hasDownloaded="hasDownloaded($event)"
    >
      <pdf-content slot="pdf-content" @domRendered="domRendered()" />
    </vue-html2pdf>
  </div>
</template>

<script>
import PdfContent from './components/PdfContent'
import ControlsContainer from './components/ControlsContainer'
import VueHtml2pdf from 'vue-html2pdf'
import { mapFields } from 'vuex-map-fields'

export default {
  name: 'DynamicTable',
  components: { PdfContent, ControlsContainer, VueHtml2pdf },
  computed: {
    ...mapFields(['controlValue'])
  },
  methods: {
    async downloadPdf() {
      if (!(await this.validateControlValue())) return

      this.$refs.html2Pdf.generatePdf()
    },

    validateControlValue() {
      if (this.controlValue.pdfQuality > 2) {
        alert('pdf-quality value should only be 0 - 2')
        this.controlValue.pdfQuality = 2

        return false
      }

      if (!this.controlValue.paginateElementsByHeight) {
        alert('paginate-elements-by-height value cannot be empty')
        this.controlValue.paginateElementsByHeight = 1400

        return false
      }

      const paperSizes = [
        'a0',
        'a1',
        'a2',
        'a3',
        'a4',
        'letter',
        'legal',
        'a5',
        'a6',
        'a7',
        'a8',
        'a9',
        'a10'
      ]

      if (!paperSizes.includes(this.controlValue.pdfFormat)) {
        alert(`pdf-format value should only be ${paperSizes}`)
        this.controlValue.pdfFormat = 'a4'

        return false
      }

      if (!this.controlValue.pdfOrientation) {
        alert('pdf-orientation value cannot be empty')
        this.controlValue.pdfOrientation = 'portrait'

        return false
      }

      if (!this.controlValue.pdfContentWidth) {
        alert('pdf-content-width value cannot be empty')
        this.controlValue.pdfContentWidth = '845px'

        return false
      }

      return true
    },

    startPagination() {
      console.log(`PDF has started pagination`)
    },

    hasDownloaded(blobPdf) {
      this.pdfDownloaded = true
    },

    domRendered() {
      this.contentRendered = true
    }
  }
}
</script>
