<template>
  <div class="login-container">
    <validation-observer ref="loginFormObs" v-slot="{ handleSubmit }" tag="div">
      <form class="login-form" style="position: relative" @submit.prevent="handleSubmit(submit)">

        <div class="title-container">
          <h3 class="title">Логин</h3>
        </div>

        <span class="svg-container">
          <svg-icon icon-class="user" />
        </span>
        <validation-provider
          v-slot="{ errors }"
          name="Логин"
          rules="required"
          vid="login"
        >
          <el-input
            ref="login"
            v-model="loginForm.login"
            required
            placeholder="Логин"
            name="login"
            type="text"
            tabindex="1"
            autocomplete="on"
          />
          <span class="error-message">{{ errors[0] }}</span>
        </validation-provider>

        <!--        <el-tooltip v-model="capsTooltip" content="Caps lock is On" placement="right" manual>-->
        <div>
          <span class="svg-container">
            <svg-icon icon-class="password" />
          </span>
          <validation-provider
            v-slot="{ errors }"
            name="Пароль"
            rules="required"
            vid="password"
          >
            <el-input
              ref="password"
              :key="passwordType"
              v-model="loginForm.password"
              :type="passwordType"
              placeholder="Пароль"
              name="password"
              tabindex="2"
              autocomplete="on"
              @keyup.native="checkCapslock"
              @blur="capsTooltip = false"
            />
            <span class="error-message">{{ errors[0] }}</span>
          </validation-provider>
          <span class="show-pwd" @click="showPwd">
            <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
          </span>
        </div>
        <!--        </el-tooltip>-->

        <el-button :loading="loading" native-type="submit" style="width:100%;margin-bottom:30px;">Входить</el-button>

        <!--      <div style="position:relative">-->
        <!--        <div class="tips">-->
        <!--          <span>Username : admin</span>-->
        <!--          <span>Password : any</span>-->
        <!--        </div>-->
        <!--        <div class="tips">-->
        <!--          <span style="margin-right:18px;">Username : editor</span>-->
        <!--          <span>Password : any</span>-->
        <!--        </div>-->

        <!--        <el-button class="thirdparty-button" type="primary" @click="showDialog=true">-->
        <!--          Or connect with-->
        <!--        </el-button>-->
        <!--      </div>-->
      </form>
    </validation-observer>

    <el-dialog title="Or connect with" :visible.sync="showDialog">
      Can not be simulated on local, so please combine you own business simulation! ! !
      <br>
      <br>
      <br>
      <!--      <social-sign />-->
    </el-dialog>
  </div>
</template>

<script>
// import SocialSign from './components/SocialSignin'

export default {
  name: 'Login',
  data() {
    return {
      loginForm: {
        login: null,
        password: null
      },
      passwordType: 'password',
      capsTooltip: true,
      loading: false,
      showDialog: false,
      redirect: undefined,
      otherQuery: {}
    }
  },
  mounted() {
    if (this.loginForm.login === '') {
      this.$refs.username.focus()
    } else if (this.loginForm.password === '') {
      this.$refs.password.focus()
    }
  },
  methods: {
    async submit() {
      try {
        this.loading = true
        await this.$store.dispatch('login', this.loginForm)
        await this.$store.dispatch('getUser')
        this.$router.push('/').catch(() => {
        })
      } catch (e) {
        if (e.response.status === 401) {
          e.response.data.params = ['login']
          this.$setFormError({ error: e, obs: this.$refs.loginFormObs })
        } else {
          this.$setResponseError({ error: e })
        }
      } finally {
        this.loading = false
      }
    },
    checkCapslock(e) {
      const { key } = e
      this.capsTooltip = key && key.length === 1 && (key >= 'A' && key <= 'Z')
    },
    showPwd() {
      if (this.passwordType === 'password') {
        this.passwordType = ''
      } else {
        this.passwordType = 'password'
      }
      this.$nextTick(() => {
        this.$refs.password.focus()
      })
    }
  }
}
</script>

<style lang="scss">
$bg:#283443;
$light_gray:#fff;
$cursor: #fff;

@supports (-webkit-mask: none) and (not (cater-color: $cursor)) {
  .login-container .el-input input {
    color: $cursor;
  }
}

.error-message {
  color: red;
  font-size: 12px;
}

/* reset element-ui css */
.login-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;

    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: $light_gray;
      height: 47px;
      caret-color: $cursor;

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: $cursor !important;
      }
    }
  }

  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
}
</style>

<style lang="scss" scoped>
$bg:#2d3a4b;
$dark_gray:#889aa4;
$light_gray:#eee;

.login-container {
  min-height: 100%;
  width: 100%;
  background-color: $bg;
  overflow: hidden;

  .login-form {
    position: relative;
    width: 520px;
    max-width: 100%;
    padding: 260px 35px 0;
    margin: 0 auto;
    overflow: hidden;
  }

  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;

    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }

  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }

  .title-container {
    position: relative;

    .title {
      font-size: 26px;
      color: $light_gray;
      margin: 0px auto 40px auto;
      text-align: center;
      font-weight: bold;
    }
  }

  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }

  .thirdparty-button {
    position: absolute;
    right: 0;
    bottom: 6px;
  }

  @media only screen and (max-width: 470px) {
    .thirdparty-button {
      display: none;
    }
  }
}
</style>
